node_modules/
dist/

# Local environment files & git
.env
.env.*
.git/

# Playwright output directories
test-results/
reports/
playwright-report/
allure-results/
allure-report/

# Logs and OS files
*.log
.DS_Store